# Gmail address that will SEND the notification + auto-reply emails
EMAIL_USER=kunalsagar128@gmail.com

# Gmail App Password (NOT your normal Gmail password)
# Generate at: https://myaccount.google.com/apppasswords
EMAIL_PASS=xpyzufrxlklhwmbz

# Where YOU want to receive new applications (can be same as EMAIL_USER)
TO_EMAIL=kunalsagar128@gmail.com